@model VideoLinks.Models.Video

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View1</title>
</head>
<body>
    <div>
        <h4>Video</h4>
    	<hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Link)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Link)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Image)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Image)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Director)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Director)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ReleaseDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Runtime)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Runtime)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DateAdded)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DateAdded)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ImdbLink)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ImdbLink)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TrailerLink)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TrailerLink)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BuyLink)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BuyLink)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
